<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div class="typewriter">
              <h1>Welcome!!</h1>
              <h3>To My Page</h3>
            </div>
        </div>
    </header>
</div>

<% include ./partials/footer %>

