<% include ./partials/header %>

<div class="container mainText">
  <div class="typewriter">
    <h1>Welcome</h1>
  </div>
</div>

  <hr>

<div class="container mainTextw">
  <div class="typewriter">
    <h3>To My Webpage</h3>
  </div>
</div>
<div class="container color">
  <div class="actions-vertical">
    <button>Learn more</button>
  </div>
  <div class="actions-vertical-2">
    <button>Contact</button>
  </div>
</div>



<% include ./partials/footer %>

