body{
  background:url("https://static.pexels.com/photos/583842/pexels-photo-583842.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: black;
}


hr{
  display: block;
  width: 75px;
  color: white;
}
.mainText{
  margin-top:150px;
  margin-bottom: 15px;
  text-align: center;
}
.mainTextw{
  margin-top:65px;
  margin-bottom: 15px;
  text-align: center;
}

.color{
  margin: 12% auto;
  text-align: center;
}
.actions-vertical , .actions-vertical-2{
  display: inline;
  margin: 0 auto;
  width: 100%;
}
.actions-vertical button{
  font-size: 22px;
  margin: 25px;
  outline:none;
  padding: 10px 50px 10px 50px;
  border: none;
  border-radius: 5px;
  background-color: #76C8B7;
  color: rgb(255,255,255);
  text-decoration: none;
  white-space:nowrap;
}
.actions-vertical-2 button{
  font-size: 22px;
  margin: 25px;
  outline:none;
  padding: 10px 50px 10px 50px;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  background: transparent;
  color: rgb(255,255,255);
  text-decoration: none;
  white-space:nowrap;
}

.thumbnail img{
    width: 100%;
    
}
.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
  display: inline;
}

.Lbar{
  font-family: Galada;
}



/* ANIMATED TEXT */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  font-size:75px;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /* blink-caret .5s step-end 9; */
  animation: 
    typing 3.5s steps(30, end)
    
}
.typewriter h3 {
  color: #fff;
  font-family: monospace;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
 /* border-right: .15em solid orange;  The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  opacity:0;
  /* blink-caret .5s step-end 9;
  -webkit-animation-delay: 2s;  Safari 4.0 - 8.0 */
 	 
  animation: 
	typings 3.5s steps(30, end);
  animation-delay:2.55s;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
   
}
/* The typing effect */
@keyframes typing {
  from { width: 0%}
  to{width: 100%;overflow: visible;}
}
@keyframes typings {
  from { width: 0%;opacity:1}
  to{width: 100%; opacity:1;overflow: visible;}
}

/* The typewriter cursor effect @keyframes blink-caret {
  from, to { border-color: transparent; border-right: 0em solid orange;}
  50% { border-color: orange }
}*/
